langchain 
wikipedia
langchain-community 
langchain-openai
langchain-anthropic
langchain-google-genai
python-dotenv
pydantic 
fastapi
uvicorn[standard]
duckduckgo-search
streamlit
requests
sqlalchemy
pyjwt
passlib[bcrypt]
JSONB
psycopg2
pydantic[email]
passlib[bcrypt] 
python-jose[cryptography]
python-multipart

